@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span{
    color: darkgreen;
}

/* Header Section */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .3s ease background-color;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
} 
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 12rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: darkgreen;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: darkgreen;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: darkgreen;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
/* End Header Section */

/* Hero Section */
#hero{
    background-image: url(./img/cows.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 6rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: darkgreen;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#hero h2{
    display: block;
    width: fit-content;
    margin-left: 10rem;
    margin-top: 15px;
    font-size: 1rem;
    position: relative;
    color: darkgrey;
}
#hero .cta {
    display: inline-block;
    margin-left: 135px;
    padding: 10px 20px;
    color: darkgreen;
    background-color: transparent;
    border: 2px solid darkgreen;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#hero .cta:hover {
    color: darkgray;
    background-color: darkolivegreen;
}
/* End Hero Section */

/* Review Section */
#reviews h1 {
    text-align: center;
    margin-bottom: 200px;
    font-weight: 300;
    font-size: 4rem;
    text-decoration: underline;
    text-decoration-color: green;
    max-width: 1500;
    margin: 0 auto;
    padding: 100px 0;
    letter-spacing: .2rem;
    text-transform: uppercase;
}
#reviews .cta{
    display: inline-block;
    padding: 10px;
    color: darkgreen;
    background-color: transparent;
    border: 2px solid darkgreen;
    letter-spacing: 0rem;
    margin-bottom: 10px;
}
#reviews .cta:hover {
    color: darkgreen;
    background-color: gray;
    box-shadow: 0px 0px 5px 0 green;
}
.row{
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 5px;
}
#sentence {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: .05rem;
}
/* End Review Section */


/* style font figcaption*/
#myfigcaption {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
/* End style font figcaption*/


/* About section */
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
.about h1{
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 10px;
}
.section-title span{
    color: darkgreen;
}
#about .col-left{
    width: 240px;
    height: 330px;
}
#about .col-right{
    width: 70%;
}
#about .col-right h2{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    font-size: 1.4rem;
    letter-spacing: .1rem;
    margin-bottom: 20px;
}
#about .about-img{
    position: relative;
    border: .3rem solid white;
}
#about .about-img::after{
    content: '';
    position: absolute;
    left: -20px;
    top: 15px;
    height: 98%;
    width: 98%;
    border: 7px solid green;
    z-index: -1;
}
/* End About section */


/* Contact Section */
#contact .section-title{
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: darkgreen;
    margin-top: 40px;
}
#contact .contact{
    flex-direction: column;
    max-width: 700px;
    margin: auto;
}
#contact .contact-items {
    width: 400px;
}
#contact .contact-item {
    width: 75%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    margin: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 50px 0px #0000002c;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom: 7px;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/* End Contact Section */

/* Footer */
#footer{
    background-image: linear-gradient(60deg, #BDBC70 0%, #485563 100%);
}
#footer .footer{
    min-height: 220px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
} 
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    margin: 0 5px;
}
/* End Footer */

/* Keyframes*/
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
/* End Keyframes */


/* End Media Query For Tablet */

/* Media Query For Tablet */
@media only screen and (min-width: 1200px){
    /* Header */
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.8rem;
    }
    #header .nav-list ul a::after{
        display: none;
    }
    /* End Header */

        /* About */
        #about .about{
            flex-direction: row;
        }
        #about .col-left{
            width: 240px;
            height: 330px;
            padding-left: -40px;
        }
        #about .about-img::after{
            left: -30px;
            top: 20px;
            height: 98%;
            width: 98%;
            border: 8px solid green;
        }
        #about .col-right h1{
            font-size: 4rem;
            text-align: left;
            margin-left: 60px;
            margin-top: 70px;
        }
        #about .col-right h2{
            text-align: left;
            margin-left: 70px;
            margin-top: 90px;
            font-size: 2.5rem;
        }
        #about .col-right p{
            text-align: center;
            padding: 20px;
            max-width: 300px;
            margin-left: 25px;
            margin-bottom: 180px;
        }
        /* End About */

        /* Contact */
        #contact .contact{
            flex-direction: column;
            padding: 100px 0;
            align-items: center;
            justify-content: center;
            min-height: 20vh;
        }
        #contact .contact-items{
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        /* End Contact */
}
/* End Media Query For Tablet */